<header>
    <div id="titre">
        Dad's Jokes
    </div>

    <div>
        <a href="/jokes/list">
            <button>All</button>
        </a>
        <a href= "/jokes/random">
            <button>Random</button>
        </a>
    </div>
    
</header>